@media (min-width: 1024px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 24px;
        max-width: 1440px;
        margin: 0 auto;
    }

    .child {
        flex: 1 1 30%;
        margin: 12px;
    }
}