@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import './styles/dark-theme.css';
@import './styles/light-theme.css';

:root {
  color-scheme: light dark; 
  background-color: var(--background-color);
  color: var(--color);

  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0 3%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  min-width: 320px;
  min-height: 100vh;
}
