@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Roboto+Mono:wght@400;700&display=swap');
@import './styles/dark-theme.css';
@import './styles/light-theme.css';

@import "./styles/layouts/mobile.css";
@import "./styles/layouts/tablet.css";
@import "./styles/layouts/desktop.css";

:root {
  color-scheme: light dark;
  background-color: var(--background-color);
  color: var(--color);

  font-family: 'Roboto Mono', monospace;
}

main {
  display: flex;
}



